/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

.col-2{
    background-image: url('/images/loginpage.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin-left: 240px;
}

/*Header*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #041e42;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-list-nav ul {
    display: flex;
  }
  .header-list-nav ul li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
  }
  .header-list-nav ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
  }
  .header-list-nav ul a:hover,
  .header-list-nav ul a.active {
    color: #fff;
    content: "";
  }
  .header-list-icon a {
    color: #fff;
    padding-left: 20px;
    transition: 0.3s ease;
  }
  .header-list-icon a:hover,
  .header-list-nav ul a.active {
    color: #088178;
  }
  .header-list-nav ul li a:hover::after,
  .header-list-nav ul li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  /*Header Logo*/
  #LOGO{
    width: 75px;
    height: 75px;
  }
  
  .account-page{
    padding: 50px 0;
    background: aliceblue;
}
.form-container{
  background: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
  overflow: hidden;
  margin-left: 375px;
  margin-right: 390px;
  margin-top: 15px;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 -9px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

#newsletter {
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-color: #041e42;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
  }
  #newsletter .newsletter-text h3 {
    color: white;
    font-size: 30px;
    padding: 0 0 15px 0;
  }
  #newsletter .newsletter-text h5 {
    color: rgb(151, 151, 151);
    font-size: 17px;
  }
  #newsletter .newsletter-text h5 span {
    color: rgb(216, 182, 29);
  }
  #newsletter .form input {
    padding: 20px;
    width: 350px;
    height: 60px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;
  
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
  }
  #newsletter .form button {
    margin-left: 0;
    padding: 20px;
    border: none;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
  
/*Footer*/
#footer{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
  }
  #footer div{
  }
  #footer p, #footer a{
    color: rgb(109, 109, 109);
    text-decoration: none;
  }
  #footer a:hover{
    color:#088178;
  }
  #footer .about a{
    display: block;
    padding:8px 0;
  }
  #footer .myaccount a{
    display: block;
    padding:8px 0;
  }
  #footer .download img{
    border: 1px solid #08817969;
    border-radius: 7px;
  }

/* Add additional CSS styles as needed */
