@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allan&family=Cedarville+Cursive&family=Croissant+One&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #030331;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.content {
    text-align: center;
    margin-left: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* header styles */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #041e42;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-list-nav ul {
    display: flex;
  }
  .header-list-nav ul li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
  }
  .header-list-nav ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
  }
  .header-list-nav ul a:hover,
  .header-list-nav ul a.active {
    color: #fff;
    content: "";
  }
  .header-list-icon a {
    color: #fff;
    padding-left: 20px;
    transition: 0.3s ease;
  }
  .header-list-icon a:hover,
  .header-list-nav ul a.active {
    color: #088178;
  }
  .header-list-nav ul li a:hover::after,
  .header-list-nav ul li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  /*Header Logo*/
  #LOGO{
    width: 75px;
    height: 75px;
  }

/* newsletter section styles */

#newsletter {
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-color: #041e42;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
  }
  #newsletter .newsletter-text h3 {
    color: white;
    font-size: 30px;
    padding: 0 0 15px 0;
  }
  #newsletter .newsletter-text h5 {
    color: rgb(151, 151, 151);
    font-size: 17px;
  }
  #newsletter .newsletter-text h5 span {
    color: rgb(216, 182, 29);
  }
  #newsletter .form input {
    padding: 20px;
    width: 350px;
    height: 56px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;
  
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
  }
  #newsletter .form button {
    margin-left: 0;
    padding: 20px;
    border: none;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
  

  /* footer section styles */

#footer{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
  }
  #footer div{
  }
  #footer p, #footer a{
    color: rgb(109, 109, 109);
    text-decoration: none;
  }
  #footer a:hover{
    color:#088178;
  }
  #footer .about a{
    display: block;
    padding:8px 0;
  }
  #footer .myaccount a{
    display: block;
    padding:8px 0;
  }
  #footer .download img{
    border: 1px solid #08817969;
    border-radius: 7px;
  }

  
